<style>
  h1 {
    border-bottom: solid 3px gray;
    margin-bottom: 24px;
  }
</style>

<h1>Chicago</h1>

<ul>
    <p><a href="/places/new">Add A New Place</a></p>

    <% @places.each do |place| %>
    <li>
        <%= link_to place.title, "/places/#{place.id}" %> 
        ($ <%= place[:admission_price]/100 %>.00) 
        (<a href="/places/delete">delete</a>)
    </li>
    <% end %>
</ul>