<style>
  h2 {
    color: white;
    background: #555;
    padding: 6px;
    text-align: left;
  }
  .rating {
    color: gray;
    border: solid 1px gray;
    padding: 4px;
  }
  img {
    float: left;
    margin-right: 40px;
    box-shadow: 8px 8px 4px gray;
    width: "400px";
  }
  p {
    margin-top: 24px;
    margin-bottom: 24px;
  }
</style>



<h1><%= @entry_title %></h1>
<h2>Admission Price: <%= number_to_currency(@entry_price/100) %></h2>

<img src=<%= @entry_pic_url %>>

<p><h2>Description: </h2></p>
<h4><%= @entry_description %></h4>